<?xml version="1.0" encoding="utf-16"?>
<RuleSet Name="Rules for some project" ToolsVersion="14.0">
    <Rules AnalyzerId="Stylecop.Analyzers" RuleNamespace="Stylecop.Analyzers">

        <!--Special Rules-->
        <Rule Id="SA0001" Action="Error"/><!--All diagnostics of XML documentation comments has been disabled due to the current project configuration.-->
        <Rule Id="SA0002" Action="Error"/><!--The stylecop.json settings file could not be loaded due to a deserialization error.-->

        <!--Spacing Rules-->
        <Rule Id="SA1000" Action="Error"/><!--The spacing around a C# keyword is incorrect.-->
        <Rule Id="SA1001" Action="Error"/><!--The spacing around a comma is incorrect, within a C# code file.-->
        <Rule Id="SA1002" Action="Error"/><!--The spacing around a semicolon is incorrect, within a C# code file.-->
        <Rule Id="SA1003" Action="Error"/><!--The spacing around an operator symbol is incorrect, within a C# code file.-->
        <Rule Id="SA1004" Action="Error"/><!--A line within a documentation header above a C# element does not begin with a single space.-->
        <Rule Id="SA1005" Action="Error"/><!--A single-line comment within a C# code file does not begin with a single space.-->
        <Rule Id="SA1006" Action="Error"/><!--A C# preprocessor-type keyword is preceded by space.-->
        <Rule Id="SA1007" Action="Error"/><!--The operator keyword within a C# operator overload method is not followed by any whitespace.-->
        <Rule Id="SA1008" Action="Error"/><!--An opening parenthesis within a C# statement is not spaced correctly.-->
        <Rule Id="SA1009" Action="Error"/><!--A closing parenthesis within a C# statement is not spaced correctly.-->
        <Rule Id="SA1010" Action="Error"/><!--An opening square bracket within a C# statement is not spaced correctly.-->
        <Rule Id="SA1011" Action="Error"/><!--A closing square bracket within a C# statement is not spaced correctly.-->
        <Rule Id="SA1012" Action="Error"/><!--An opening brace within a C# element is not spaced correctly.-->
        <Rule Id="SA1013" Action="Error"/><!--A closing brace within a C# element is not spaced correctly.-->
        <Rule Id="SA1014" Action="Error"/><!--An opening generic bracket within a C# element is not spaced correctly.-->
        <Rule Id="SA1015" Action="Error"/><!--A closing generic bracket within a C# element is not spaced correctly.-->
        <Rule Id="SA1016" Action="Error"/><!--An opening attribute bracket within a C# element is not spaced correctly.-->
        <Rule Id="SA1017" Action="Error"/><!--A closing attribute bracket within a C# element is not spaced correctly.-->
        <Rule Id="SA1018" Action="Error"/><!--A nullable type symbol within a C# element is not spaced correctly.-->
        <Rule Id="SA1019" Action="Error"/><!--The spacing around a member access symbol is incorrect, within a C# code file.-->
        <Rule Id="SA1020" Action="Error"/><!--An increment or decrement symbol within a C# element is not spaced correctly.-->
        <Rule Id="SA1021" Action="Error"/><!--A negative sign within a C# element is not spaced correctly.-->
        <Rule Id="SA1022" Action="Error"/><!--A positive sign within a C# element is not spaced correctly.-->
        <Rule Id="SA1023" Action="Error"/><!--A dereference symbol or an access-of symbol within a C# element is not spaced correctly.-->
        <Rule Id="SA1024" Action="Error"/><!--A colon within a C# element is not spaced correctly.-->
        <Rule Id="SA1025" Action="Error"/><!--The code contains multiple whitespace characters in a row.-->
        <Rule Id="SA1026" Action="Error"/><!--An implicitly typed new array allocation within a C# code file is not spaced correctly.-->
        <Rule Id="SA1027" Action="Error"/><!--The code contains a tab or space character which is not consistent with the current project settings.-->
        <Rule Id="SA1028" Action="Error"/><!--A line of code ends with a space, tab, or other whitespace characters before the end of line character(s).-->

        <!--Readability Rules-->
        <Rule Id="SA1100" Action="Error"/><!--A call to a member from an inherited class begins with base., and the local class does not contain an override or implementation of the member.-->
        <Rule Id="SA1101" Action="Error"/><!--A call to an instance member of the local class or a base class is not prefixed with 'this.', within a C# code file.-->
        <Rule Id="SA1102" Action="Error"/><!--A C# query clause does not begin on the same line as the previous clause, or on the next line.-->
        <Rule Id="SA1103" Action="Error"/><!--The clauses within a C# query expression are not all placed on the same line, and each clause is not placed on its own line.-->
        <Rule Id="SA1104" Action="Error"/><!--A clause within a C# query expression begins on the same line as the previous clause, when the previous clause spans across multiple lines.-->
        <Rule Id="SA1105" Action="Error"/><!--A clause within a C# query expression spans across multiple lines, and does not begin on its own line.-->
        <Rule Id="SA1106" Action="Error"/><!--The C# code contains an extra semicolon.-->
        <Rule Id="SA1107" Action="Error"/><!--The C# code contains more than one statement on a single line.-->
        <Rule Id="SA1108" Action="Error"/><!--A C# statement contains a comment between the declaration of the statement and the opening brace of the statement.-->
        <Rule Id="SA1109" Action="Error"/><!--A C# statement contains a region tag between the declaration of the statement and the opening brace of the statement.-->
        <Rule Id="SA1110" Action="Error"/><!--The opening parenthesis or bracket in a call to a C# method or indexer, or the declaration of a method or indexer, is not placed on the same line as the method or indexer name.-->
        <Rule Id="SA1111" Action="Error"/><!--The closing parenthesis or bracket in a call to a C# method or indexer, or the declaration of a method or indexer, is not placed on the same line as the last parameter.-->
        <Rule Id="SA1112" Action="Error"/><!--The closing parenthesis or bracket in a call to a C# method or indexer, or the declaration of a method or indexer, is not placed on the same line as the opening bracket when the element does not take any parameters.-->
        <Rule Id="SA1113" Action="Error"/><!--A comma between two parameters in a call to a C# method or indexer, or in the declaration of a method or indexer, is not placed on the same line as the previous parameter.-->
        <Rule Id="SA1114" Action="Error"/><!--The start of the parameter list for a method or indexer call or declaration does not begin on the same line as the opening bracket, or on the line after the opening bracket.-->
        <Rule Id="SA1115" Action="Error"/><!--A parameter within a C# method or indexer call or declaration does not begin on the same line as the previous parameter, or on the next line.-->
        <Rule Id="SA1116" Action="Error"/><!--The parameters to a C# method or indexer call or declaration span across multiple lines, but the first parameter does not start on the line after the opening bracket.-->
        <Rule Id="SA1117" Action="Error"/><!--The parameters to a C# method or indexer call or declaration are not all on the same line or each on a separate line.-->
        <Rule Id="SA1118" Action="Error"/><!--A parameter to a C# method or indexer, other than the first parameter, spans across multiple lines.-->
        <Rule Id="SA1120" Action="Error"/><!--The C# comment does not contain any comment text.-->
        <Rule Id="SA1121" Action="Error"/><!--The code uses one of the basic C# types, but does not use the built-in alias for the type.-->
        <Rule Id="SA1122" Action="Error"/><!--The C# code includes an empty string, written as "".-->
        <Rule Id="SA1123" Action="Error"/><!--The C# code contains a region within the body of a code element.-->
        <Rule Id="SA1124" Action="Error"/><!--The C# code contains a region.-->
        <Rule Id="SA1125" Action="Error"/><!--The Nullable type has been defined not using the C# shorthand.-->
        <Rule Id="SA1126" Action="Error"/><!--A call to a member is not prefixed with the 'this.', 'base.', 'object.' or 'typename.' prefix to indicate the intended method call, within a C# code file.-->
        <Rule Id="SA1127" Action="Error"/><!--A generic constraint on a type or method declaration is on the same line as the declaration, within a C# code file.-->
        <Rule Id="SA1128" Action="Error"/><!--A constructor initializer is on the same line as the constructor declaration, within a C# code file.-->
        <Rule Id="SA1129" Action="Error"/><!--A value type was constructed using the syntax new T().-->
        <Rule Id="SA1130" Action="Error"/><!--An anonymous method was declared using the form delegate (parameters) { }, when a lambda expression would provide equivalent behavior with the syntax (parameters) =&gt; { }.-->
        <Rule Id="SA1131" Action="Error"/><!--A comparison was made between a variable and a literal or constant value, and the variable appeared on the right-hand side of the expression.-->
        <Rule Id="SA1132" Action="Error"/><!--Two or more fields were declared in the same field declaration syntax.-->
        <Rule Id="SA1133" Action="Error"/><!--Two or more attributes appeared within the same set of square brackets.-->
        <Rule Id="SA1134" Action="Error"/><!--An attribute is placed on the same line of code as another attribute or element.-->
        <Rule Id="SA1135" Action="Error"/><!--A using directive is not qualified.-->
        <Rule Id="SA1136" Action="Error"/><!--Multiple enum values are placed on the same line of code.-->
        <Rule Id="SA1137" Action="Error"/><!--Two sibling elements which each start on their own line have different levels of indentation.-->
        <Rule Id="SA1139" Action="Error"/><!--Use literal suffix notation instead of casting.-->
        <Rule Id="SA1141" Action="Error"/><!--Use tuple syntax instead of the underlying ValueTuple implementation type.-->
        <Rule Id="SA1142" Action="Error"/><!--An element of a tuple was referenced by its metadata name when an element name is available.-->
    </Rules>
</RuleSet>
